
.head-container {
  background:#edede0;

  h1.main-logo {
    font-family: 'Coustard', serif;
    font-size: 32px;
    margin-top: 3px;
    a {
      color:  #777;
    }
  }
  p {
    margin-top: 7px;
    margin-bottom: 0px;
  }
}